<style>
    nav{
        background-color: blue;
        padding: 20px;
        color: white;
    }
    a{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: darkcyan;
    }
</style>
<nav>
    <h1>Logo - <%=title%></h1>
    <div class="">
        <a href="/">HOME</a>
        <a href="/about">About</a>
    </div>
</nav>
