<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <%- include('partials/navbar.ejs', {title: 'ABOUT'});%>
    <h1>SOBRE O SITE</h1>
    <p>Por enquanto nada!</p>
    <a href="/">Voltar</a>
</body>
</html>